:host {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 12%;
  align-items: center;
  background: darkblue;
  color: #ffffff;
}

button {
  color: darkblue;
  background-color: #ffff;
  width: 150px;
  height: 30px;
  border-radius: 10px;
  align-self: center;
}