<nav class="toolbar">
  <a title="Voltar pra listagem" routerLink="./.."><img src="assets/img/arrow_back.png" alt=""></a>
  <h3>BookStore</h3>
</nav>
<form [formGroup]="form" (ngSubmit)="save()">
  <label for="title">Título</label>
  <input type="text" autocomplete="off" formControlName='title' maxlength="100">
  <div *ngIf="form.get('title').errors && form.get('title').touched">
    <div class="error" *ngIf="form.get('title').errors.required">
      Campo titulo é obrigatorio.
    </div>
  </div>
  <br>
  <button type="submit" class="btn" [disabled]="form.invalid">SALVAR</button>
</form>